* {
    box-sizing : border-box;
   
}
body {
    background-color: hsl(214, 47%, 23%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.rules-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: white;
    z-index: 2;
    border-radius: 5px;  
    position: absolute;
    top: 19% ;
    left: 36%; 
}
.rules-header {
    display: flex;
    width: 100%;
    /* align-items: space-around; */
    justify-content: space-between;
}
.rules {
    color : #554d4d
}
.cancel-button {
    cursor: pointer;
    color:  grey;
}
.cancel-button:hover{
    color:red;
}
/* .cancel-button:active {
    color:red
} */
.rules-diagram {
    margin-left: 10%;
}

.header-box {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 500px;
    height: 130px;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    justify-content: space-between;
    margin: auto;
    z-index: 1;

}
#text {
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.score {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 150px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
}
#score-text {
    color: hsl(229, 64%, 46%);
    font-size: 20px;
    font-weight: 600;
}

#my-score {
    color: hsl(229, 25%, 31%);
    font-size: 50px;
    font-weight: 600;
}

.hand {
    display: flex;
    border: 20px solid grey;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin : 5px;
    width: 150px;
    height: 150px;
    background-color: white;
}
.picked {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 20px;
    font-weight: 600;
    color: white;
   
}

.user-picked {
    padding-left: 2%;
    margin-right: 19%;
}

.blank-div {
    position: absolute;
    top: 230px;
    left: 800px;
    background-color: hsla(214, 78%, 10%, 0.9);
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.triangle {
    margin-top: 5%;
    margin-left: 38%;
}

p {
    margin: 0;

}


.text-position {
    position: absolute;
    left: 46%;
    top: 41%;
    display: none;
}

.some-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 30px;

}

#reset-button {
    width: 150px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius : 5px;
    /* left: 630px;
    top: 350px; */
}

.scissors{
    border: 20px solid yellow;
    position: absolute;
    left: 34%;
    top: 35%;
    /* box-shadow :  0px 0px 5px 20px pink, 0px 0px 10px 40px green, 0px 0px 15px 60px  orange; */

}


.paper {
    border: 20px solid blue;
    position: absolute;
    top: 35%;
    left: 54%;
}

.rock {
    border: 20px solid red;
    position: absolute;
    top: 62%;
    left: 44%;
}


button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    border: none;
    border-radius: 5px;

}
